body {
  background-color: rgba(0, 0, 0, .9);
}

*:focus {
    outline: none;
}

.gif-footer {
  position: relative;
  font-size: 14px;
  line-height: 16px;
  height: 60px;
  color: white;
  bottom: 60px;
  margin-bottom: -60px;
  padding-left: 2%;
  left: 0;
  right: 0;
  background-color: transparent;
  overflow: hidden;
  width: 100%;
  z-index: 99999999;
  background-color: rgba(0, 0, 0, .5);
  transition: .2s ease;
  opacity: 0;
}

.gif-wrapper:hover .gif-footer {
  opacity: 1;
}

// arrow icons

.arrow {
  border:       solid currentColor;
  border-width: 0 .2em .2em 0;
  display:      inline-block;
  padding:      .20em;
}

.arrow-up {
  transform:rotate(-135deg); 
  -webkit-transform:rotate(-135deg);
  border:       solid currentColor;
  border-width: 0 .2em .2em 0;
  display:      inline-block;
  padding:      .20em;
  position: relative;
  top: 4px;
}

.arrow-down  {
  transform:rotate(45deg);   
  -webkit-transform:rotate(45deg);
  border:       solid currentColor;
  border-width: 0 .2em .2em 0;
  display:      inline-block;
  padding:      .20em;
  position: relative;
  bottom: 1px;
}

